@tailwind base;
@tailwind components;
@tailwind utilities;

.site-logo {
    max-width: 290px;
    @apply w-full;
}

.-mr-1px {
    margin-right: -1px;
}

.border-1 {
    border-width: 1px;
}

.border-t-1 {
    border-top-width: 1px;
}

.border-r-1 {
    border-top-width: 1px;
}

.border-b-1 {
    border-top-width: 1px;
}

.border-l-1 {
    border-top-width: 1px;
}

.merge-border-1 {
    margin-bottom: -1px;
    margin-left: -1px;
    margin-right: -1px;
    margin-top: -1px;
}